<div>
  <h2>Edit team <%= team.name %></h2>
  <form id="edit-form" action="/teams" method="POST">
    <div class="form-group">
      <label for="teamName">Team Name</label>
      <input type="text" class="form-control" name="name" id="teamName" value="<%= team.name %>" />
    </div>
    <div class="form-group">
      <label for="teamMembers">Members</label>
      <input type="text" class="form-control" name="members" id="teamMembers" value="<%= team.members %>">
    </div>
    <input class="btn btn-primary" type="submit" />
  </form>
  <hr />
</div>
