<!DOCTYPE html>
<html>
  <head>
    <title>Hackathon Teams</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Ceattle Sity Hackathon</h1>
    <%- body %>

    <div>
      <p>
        <a href="/">Home</a>
      </p>

      <p>
        <a href="/teams">see teams</a>
      </p>

      <p>
        <a href="/teams/new">sign up</a>
      </p>
    </div>

    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <script src="/js/teams-ajax.js"></script>
  </body>
</html>
