<!DOCTYPE html>
<html>
  <head>
    <title>Hackathon Teams</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Ceattle Sity Hackathon</h1>
    <%- body %>

    <div>
      <p>
        <a href="/">Home</a>
      </p>

      <p>
        <a href="/teams">see teams</a>
      </p>

      <p>
        <a href="/teams/new">sign up</a>
      </p>
    </div>

  </body>
</html>
