<div>
  <h2>Create a New Team</h2>
  <form action="/teams" method="POST">
    Team Name: <input type="text" name="name" />
    Members: <input type="text" name="members" />
    <input type="submit" />
  </form>
</div>
